.nav, a:hover {
  color: white !important;
}

img {
  width: 500px;
  height: 325px;
  background-color: rgb(132, 120, 120);
}

header {
  border-radius: 20px 20px 0 0; 
}

footer {
  border-radius: 0 0 20px 20px; 
}
